a {
    text-decoration: none;
    background-color: rgba(162, 217, 107, 0.459);
    color: black;
    font-size: 20px;
    border-radius: 5px;
}
ul {
    list-style: none;
    padding-left: 0;  
    margin-left: auto;
    margin-right: auto;
    width: 6em;
}
li {
    margin-bottom: 16px;
}
body {
    background-color: rgb(250, 240, 227);
}